@font-face{
	font-family : Open-Sans;
	src : url(OpenSans-Regular.ttf);
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	color: #FFFFFF;
	font-family : Open-Sans;
}

li, a, button{
	font-size: 16px;
	color: #ffffff;
	text-decoration: none;
}

header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px 10%;
	background-color: #353535;
}

.nav{
	list-style: none;
}

.nav li {
	display: inline-block;
	padding: 0px 20px;
}

body{
	background-color: #1a1a1a;
}

p{
	padding: 30px 11%;
	line-height: 35px;
	text-indent: 32px;
}

.logo{
	float:left;
	position: absolute;
	padding-left: 40px;
	padding-top: 10px;
	padding-right: 40px;
}

a{
	color:#5c74ff;
}

code{
	padding: 30px 11%;
}

.code{
	margin: 0px 8%;
	padding: 0px 3%;
	border: 0px;
	border-style: solid;
	background-color: #9c9c9c;
}

.grey{
	color: #ff9898;
}

.blue{
	color: lightskyblue;
}

.purple{
	color: purple;
}

.yellow{
	color: #fff177;
}

button{
	background-color: black;
	padding: 3px;
	margin-bottom: 5px;
}

.content{
	display: none;
	overflow: hidden;
	padding: 10px;
	background-color: black;
	color:whitesmoke;
}

.collapsible{
	cursor: pointer;
}

body{
	background-color: rgb(27, 27, 27);
}